<div class="product-list-container">
  <div class="flex-container" *ngIf="productList$ | async as product">
    <div class="item" *ngFor="let productData of product">
      <span>{{ productData.productName }}</span>
      <div class="size-container">
        <div>S</div>
      </div>
      <div class="flex-container">
        <div class="item-detail-container">
          <button 
            src=":javascript;" 
            [routerLink]="['../','details',productData._id]"
          >
            more details
          </button>
        </div>
      </div>
    </div>
  </div>
</div>