@import "../../../../assets/main.scss";

.flex-container {
    display: flex;
    flex-direction: row;
    .panel {
        width: 50%;
        min-height: 400px;
        margin: 5px;

        .description-container {
            padding: 30px;
        }

        .sizes-container {
            padding: 10px 30px 10px 30px;
            .size-item-container {
                display: flex;
                flex-direction: column;
                
                .size-item {
                    font-size: 14px;
                    margin: 0 5px 0 0px;
                    cursor: pointer;
                    padding: 5px;

                    border-bottom: 1px solid white;
                    border-left: 4px solid white;
                    &.selected {
                        border-bottom: 1px solid #87b03c;
                    }
                }

                .size-item:hover {
                    border-bottom: 1px solid #cdcdcd;
                }
            }
        }

        .quantity-container {
            padding: 10px 30px 10px 30px;
            display: flex;
            height: 69px;
            flex-direction: column;
        }

        .empty-container {
            padding: 10px 30px 10px 30px;
            width: 336px;
            height: 69px;
        }

        .add-to-cart-container {
            padding: 30px;
            button {
                padding: 5px 25px 5px 25px;
                background-color: #8DCA0A;
                color: white;
            }
        }
    }
}