<div class="container" *ngIf="productDetails$ | async as productDetails">
  <div class="flex-container">
    <div class="panel panel-img">
      <img src="/assets/images/stock/sneakers/panda-dunk-low-1.jpg" height="350px" width="470px" alt="">
    </div>
    <div class="panel">
      <div class="description-container">
        <h2>{{ productDetails.productName }}</h2>
        {{ productDetails.description }}
      </div>
      <div class="sizes-container">
        <span>Size available</span>
        <div class="size-item-container">
          <div 
            class="size-item" 
            *ngFor="let sizes of productDetails.sizes | toArray; let i = index"
            (click)="onSelectSize(i, sizes.name)"
            #sizeContainer
            >
              {{ sizes.name }}
          </div>
        </div>
      </div>
      <ng-template [ngIf]="activeQuantity" [ngIfElse]="emptyContainer">
        <div class="quantity-container">
          <span>Quantity</span>
          <select type="number" [(ngModel)]="selectedQuantity"
            (change)="onSelectorQuantityChange()"
          >
            <option *ngFor="let qty of maxQuantity" [ngValue]="qty">{{qty}}</option>
          </select>
        </div>
      </ng-template>
      <ng-template #emptyContainer>
        <div class="empty-container">
        </div>
      </ng-template>
      <div class="add-to-cart-container">
        <button (click)="doAddToCart()"
        [class.btn-disable]="btnDisable" 
        [attr.disabled]="checkDisableBtn(btnDisable)">{{ addBtnLabel }}</button>
      </div>
    </div>
  </div>
</div>
