<div class="container" *ngIf="productDetails$ | async as productDetails">
  <div class="flex-container">
    <div class="panel panel-img">image</div>
    <div class="panel">
      <div class="description-container">
        <h2>{{ productDetails.data.productName }}</h2>
        {{ productDetails.data.description }}
      </div>
      <div class="sizes-container">
        <span>Size available</span>
        <div class="size-item-container">
          <div 
            class="size-item" 
            *ngFor="let sizes of productDetails.data.sizes | toArray; let i = index"
            (click)="onSelectSize(i, sizes.name)"
            #sizeContainer
            >
              <div style="display: none;">{{ sizes.available }}</div>
              {{ sizes.name }}
          </div>
        </div>
      </div>
      <div class="add-to-cart-container">
        <button (click)="doAddToCart()"
        [class.btn-disable]="btnDisable" 
        [attr.disabled]="btnDisable? 'disabled' : null">{{ addBtnLabel }}</button>
      </div>
    </div>
  </div>
</div>