<div
(click)="onSelectCartItem()"
>
  <app-overlay 
    [show] = "show"
    [idx] = "indx"
    [product] = "productDetails.product"
    (emitRemoveCartItem) = "removeCartItem($event)"
  ></app-overlay>
  <div class="product-detail-container">
    <div>
      <div class="product-img-preview">
        <div class="img-container">
          
        </div>
      </div>
      <div class="detail-container">
        <div class="product-name">
          {{ productDetails.productName }}
        </div>
        <div class="product-size">
          <span>{{ productDetails.size }}</span>
        </div>
      </div>
    </div>
    <div class="product-quantity-container">
      <span class="quantity">x{{ productDetails.quantity }}</span>
    </div>
  </div>
</div>